{
  "openapi": "3.0.3",
  "info": {
    "title": "upld description",
    "license": {
      "name": "AGPL",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    },
    "version": "1.0.11"
  },
  "servers": [
    {
      "url": "https://upld.risorse.students.cs.unibo.it"
    }
  ],
  "paths": {
    "/callback": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Callback received from the GitHub OAuth2 flow",
        "parameters": [
          {
            "in": "query",
            "name": "redirect",
            "description": "The url to be redirected when the auth is successful. In the redirect response, it will also set the cookie and relative expiry date for the upld domain.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the GitHub Login page"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Returns some information about the logged in user",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string",
              "format": "bearer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "description": "The github username."
                    },
                    "picture": {
                      "type": "string",
                      "description": "The github profile picture url."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}